#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_GB]=gnome-panel-launcher
Name[en_GB]=swprimon
Exec=/home/badr.ibrahim@prounix.local/Documents/projects/myStuff/scripts/swprimon/swprimon.sh
Comment[en_GB]=Switch primary monitor
Name=swprimon
Comment=Switch primary monitor
Icon=gnome-panel-launcher
